main section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size:1em;
    letter-spacing: 10px;
    color:#0e3742;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.7em;
    outline: none;
    animation:animate 5s linear infinite;
}
@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 90.1%, 92%{
        color: #0e370e;
        text-shadow:none;
    }
    18.1%, 20.1%, 50%, 60.1%, 65%, 90%, 92.1%, 100%{
        color:#fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,

    }
}
.tabelaPeriodica{
    transition: 0.5;
    margin-top: 100px;
}
.elementos{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card{
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 5px;
    margin:1px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 1
}
.elementos:hover .column .card{
    display: flex;
    filter: blur(1px);
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}
.elementos .column .card:hover{
    transform: scale(1.3);
    filter: blur(0);
    opacity: 1;
    z-index: 2;
}
.card h3{
    font-size:1.3em;  
}
.card h4{
    font-size:9px;   
}
.card span{
    display: none;
    visibility:hidden;
    opacity: 0;
}
.column .card:hover span{
    display:contents;
    font-size:10px;
    visibility:visible;
    opacity: 1;
    text-shadow:    0 0 -4px #0009,
                    0 0 6px #0009,                
                    0 0 -10px #0009;
    transition: 1s;
}