@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family:'Poppins', sans-serif;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition: 0.5s;
    padding: 40px 100px;
}
header .logo{
    position: relative;
    font-weight: 700;
    color:#fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
header ul{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
header ul li{
    position:relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}
.banner{
    position:relative;
    width:100%;
    height:100vh;
}